*{
    margin: 0 auto;
    padding: 0;
}
.end{
    width: 1519px;
    height: 190px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}
.end>.pic1{
    width: 198.78px;
    height: 77px;
    float: left;position: relative;
    left: 70px;
    top: 50px;

}
.end>.line1{
    width: 0px;
    height: 70px;
    border-style: solid;
    border-width: 0.1px;
    /* float: left; */
    position: relative;
    left: 150px;
    top: 50px;
}
.end>.contact{
    width: 116px;
    height: 150px;
    position: relative;
    left: 300px;
    top: 30px;
    
}
.end>.contact>h1{
    font-size: 19px;
    font-weight: 400;
}
.end>.contact>p>a{
    color: black;
    font-size: 12px;
    /* position: relative; */
    /* top: -10px; */
    text-decoration: none;
}
.end>.production{
    width: 131px;
    height: 150px;
    position: relative;
    left: 450px;
    top: 30px;
}
.end>.production>h1{
    font-size: 19px;
    font-weight: 400;
}
.end>.production>p{
    font-size: 12px;
    /* position: relative; */
    top: -10px;
}
.end>.welcom{
    width: 232px;
    /* float: left; */
    position: relative;
    left: 550px;
}
.end>.welcom>h1{
    font-size: 25px;
    font-weight: 400;
    position: relative;
    left: 0px;
    top: 30px;

}
.end>.line2{
    width: 0px;
    height: 70px;
    border-style: solid;
    border-width: 0.1px;
    /* float: left; */
    position: relative;
    left: 600px;
    top: 50px;
}
.end>.pic2{
    width: 80px;
    height: 80px;
    float: left;position: relative;
    left: 670px;
    top: 30px;
}
.end>span{
    height: 20px;
    font-size: 13px;
    position: relative;
    right: -588px;
    top: 110px;

}
.end>.footer>p{
    font-size: 13.5px;
    position: relative;
    left: -210px;
    top: 130px;
}
