*{
    margin: 0 auto;
    padding: 0;
}
.fifth{
    width: 1519px;
    height: 500px;
}
.fifth>h1{
    width: 1000px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
    /* position: relative; */
    /* left: 150px; */

}
.fifth>.fcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifth>.fcenter>.process{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    left: 300px;
    top: 50px;
}

.fifth>.fcenter>.process>.p1{
    width: 200px;
    height: 183.6px;
    margin: 0;
}
.fifth>.fcenter>.process>.p2{
    width: 200px;
    height: 183.6px;
    position: relative;
    left: 100px;
    margin: 0;
}
.fifth>.fcenter>.process>.p3{
    width: 200px;
    height: 183.6px;
    position: relative;
    left: 100px;
    margin: 0;
}
.fifth>.fcenter>.process>.p1>img{
    width: 140px;
    height: 112.82px;
}
.fifth>.fcenter>.process>.p2>img{
    width: 140px;
    height: 112.82px;
    
}
.fifth>.fcenter>.process>.p3>img{
    width: 140px;
    height: 112.82px;
    
}
.fifth>.fcenter>.process>.p1>h1{
    font-size: 26px;
    font-weight: 350;
    position: relative;
    left: 20px;
    top: -10px;
}
.fifth>.fcenter>.process>.p1>h2{
    font-size: 20px;
    font-weight: 350;
    position: relative;
    left: -10px;
    top: -10px;
}
.fifth>.fcenter>.process>.p2>h1{
    font-size: 26px;
    font-weight: 350;
    position: relative;
    left: 20px;
    top: -10px;
}
.fifth>.fcenter>.process>.p2>h2{
    font-size: 20px;
    font-weight: 350;
    position: relative;
    left: -10px;
    top: -10px;
}
.fifth>.fcenter>.process>.p3>h1{
    font-size: 26px;
    font-weight: 350;
    position: relative;
    left: 20px;
    top: -10px;
}
.fifth>.fcenter>.process>.p3>h2{
    font-size: 20px;
    font-weight: 350;
    position: relative;
    left: -10px;
    top: -10px;
}
.fifth>.fcenter>.process>.arrow1{
    font-size: 30px;
    margin: 0;
}
.fifth>.fcenter>.process>.arrow2{
    font-size: 30px;
    position: relative;
    left: 100px;
    margin: 0;
    margin-right: 50px;
}
.fifth>.fcenter>.apply{
    /* position: relative; */
    left: -100px;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifth>.fcenter>.apply>img{
    width: 452.38px;
    height: 152.75px;
}
.fifth>.fcenter>.apply>h1{
    font-size: 40px;
    /* position: relative; */
    left: -150px;
}
.fifth>.fcenter>.apply>.bm{
    width: 800px;
}
.fifth>.fcenter>.apply>.bm>a{
    /* position: relative; */
    left: 500px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: #d6edee;
    margin-left: 200px;
    margin-right: -150px;
    border-radius: 20px;
    width: 208px;
    height: 59.85px;
}