*{
    margin: 0 auto;
    padding: 0;
}
.center{
    width: 1519px;
    height: 3200px;
}
.first{
    width: 1519px;
    height: 721px;
    display: flex;
    flex-direction: row;
}
.first>.about{
    margin-left: 50px;
    margin-right: 80px;
    width: 680px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 5%;
    /* float: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first>.about>.top>h1{
    font-size: 35px;
    font-weight: 500;
    position: relative;
    left: 60px;
    top: 25px;
}
.first>.about>.top>p{
    font-size: 20px;
    font-family: "楷体";
    margin-left: 60px;
    margin-top: 60px;
    line-height: 40px;
}
.first>.about>.bottom>img{
    width: 500px;
    height: 231px;
    /* position: relative; */
    left: 80px;
    top: -20px;
    
}
.first>.introduce{
    width: 650px;
    height: 600px;
    background-color: #f2f2f2;
    border-radius: 5%;
    /* float: left; */
}
.first>.introduce>p{
    font-size: 20px;
    font-family: "楷体";
    margin-left: 60px;
    margin-top: 60px;
    line-height: 40px;
}
.first>.introduce>.black{
    width: 530px;
    height: 358.2px;
    background-color: #535353;
    margin-left: 120px;
    margin-top: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 0px;
}
.first>.introduce>.black>img{
    width: 470px;
    height: 313px;
    margin-top: 45px;
    margin-left: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 0px;
}
.first>.about>.bottom>.floata{
    width: 60px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -150px;
    left: -200px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.first>.about>.bottom>.floatb{
    width: 180px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -100px;
    left: -200px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floatc{
    width: 60px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -200px;
    left: -50px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floatd{
    width: 100px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -150px;
    left: 0px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floate{
    width: 60px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -280px;
    left: 80px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floatf{
    width: 100px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -250px;
    left: 150px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floatg{
    width: 60px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -320px;
    left: 220px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.floath{
    width: 100px;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
    top: -250px;
    left: 270px;
    border-radius: 20%;
    /* position: absolute; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: roll;
}
.first>.about>.bottom>.floata,.floatb,.floatc,.floatd,.floate,.floatf,.floatg,.floath>h3{
    color: #535353;
    text-align: center;
}
/* .first>.about>.bottom>.float2>h3{
    color: #535353;
    text-align: center;
} */
@keyframes roll{
    
    0%{transform: translateY(0);}
    50%{transform: translateY(-5px);}
    
}