* {
    margin: 0px auto;
    padding: 0px;
  }
.second{
    height: 721px;
}
.outer {
    width: 800px;
    height: 500px;
    overflow: hidden;
    text-align: right;
}
.outer .btn{
    display: flex
  }
.kuang{
    width: 850px;
    display: flex;
    flex-direction: row;
    transform: translateX(0px);
    transition: 0.7s;
    position: relative;
    left: 0;
}
.kuang img{
    width: 450px;
    height: 400px;
}
.one,.two,.three,.four,.five{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.content1,.content2,.content3,.content4,.content5{
    width: 350px;
   position: relative;
   top: 25%;
}
.outer .btn{
    width: 200px;
}
.outer .btn button{
    margin-left: 10px;
    width: 25px;
    height: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: black; */
}
.second .lunbotu{
   
}