*{
    margin: 0 auto;
    padding: 0;

}
.head{
    width: 1519px;
    height: 843.35px;
}
.sy{
    width: 1519px;
    height: 843.35px;
    position: relative;
}
.logo>img{
    width: 180px;
    position: absolute;
    left:50px;
    top:20px;
    
}
/*将文字移动到首页的中间 */
.wenzi{
    height: 250px;
    position: absolute;
    bottom: 200px;
    left: 35%;
     }
.wenzi>h1{
    font-size: 50px;
    color: white;
    margin-top:20px;
    margin-bottom: 20px;
}
.wenzi>h2{
    position: relative;
    left: 75px;
    font-size: 30px;
    color: white;
    margin: 0%;
}
.wenzi>h3::before{
    content: "";
    display: block;
    width: 74px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    top: 156px;
    left: 27px;
    background-image: linear-gradient(270deg,hsla(0,0%,100%,0),#fff 47%,hsla(0,0%,100%,0));
}
.wenzi>h3::after{
    content: "";
    display: block;
    width: 74px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    top: 156px;
    left: 444px;
    background-image: linear-gradient(270deg,hsla(0,0%,100%,0),#fff 47%,hsla(0,0%,100%,0));
}
.wenzi>h3{
    font-size: 15px;
    color: white;
    margin: 0%;
}
.star{
    width: 96px;
    height: 35px;
    /* position: relative; */
    left: 38%;
    margin-top: 70px;
    background-color: white;
    border-radius: 50px;
    /* text-align: center; */
}
.star a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 11px;
    line-height: 35px;
}
.star a:hover{
    color: cornflowerblue;
    transition: 1s;
}
.right {
    /*将导航条移动到右上角*/
    position: absolute;
    left: 1000px;
    top: 10px;
    /*设置盒子宽高*/
    width: 500px;
    height: 48px;
}
.right li{
    /*去掉圆点*/
    list-style-type: none;
    /*设置导航条横向排列*/
    float: left;
}
/*设置a的样式*/
.right a{
    /*将a转化为块元素*/
    display: block;
    /*去掉下划线*/
    text-decoration: none;
    color:white;
    font-size: 17px;
    padding: 0 10px;

}
/*设置鼠标移入的状态*/
.right a:hover{
    color: gray;
    /*设置时间延迟实现效果*/
    transition: 1s;
}
.circle{
    position: relative;
    left: 40px;
    top: -100px;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
     animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-name: roll;
}
.circle>.a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-radius: 30%;
    margin-left: 12px;

}
.sub-line{
    position: relative;
    top: -90px;
    left: 55px;
    width: 10px;
    height: 50px;
}
.sub-line::after{
    content: "";
    display: block;
    position: relative;
    height: 36px;
    left: 50%;
    transform: translateX(-150%);
    border-left: 1px dashed #fff;
    top: 14px;
}
.iconfont{
    font-family: "iconfont"!important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@keyframes roll{
    /* 0%{left: 0px; top: 0px;} */
    0%{transform: translateY(0);}
    50%{transform: translateY(-5px);}
    /* 50%{left: 0px; top: 10px;} */
    /* 100%{left: 0px; top: 10px} */
    /* 100%{transform: translate(-50%);} */
}

.white{
    height: 120px;
}
